@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

.option-1, .option-2, .option-3 p{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.option-1  img{
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

